body {
  background-color: #f1f1f1;
}

form {
  display: grid;
  padding: 1em;
  padding-top: 25px;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
}
form input .submit {
  background: #fff;
  border: 1px solid #9c9c9c;
}
form .submit {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
}
form .submit:hover {
  background: gold;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
}

input {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid gold;
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: right;
    grid-column: 1 / 2;
  }

  input, .submit {
    grid-column: 2 / 3;
  }
}
/* Footer */
 .img {
    padding-bottom: 10px;
  }
  .footer {
    background-color: black;
    color:#fff;
    height: 160px;
  }
  .social-icon{
      margin: 7px 7px;
      transition: opacity .4s ease-in;
      -moz-transition: opacity .4s ease-in;
      -webkit-transition: opacity .4s ease-in;
      -o-transition: opacity .4s ease-in;
      -ms-transition: opacity .4s ease-in;
  }
  .social-icon:hover{
      text-decoration: none; 
      opacity: 0.7;
      transition: opacity .4s ease-in;
      -moz-transition: opacity .4s ease-in;
      -webkit-transition: opacity .4s ease-in;
      -o-transition: opacity .4s ease-in;
      -ms-transition: opacity .4s ease-in;
      
  }
  #bg{
  position:relative;
  top:20px;
  height:600px;
  width:800px;
  background:url('https://i.imgur.com/3eP9Z4O.png') center no-repeat;
  background-size:cover;
  margin-left:auto;
  margin-right:auto; 
  border:#fff 15px solid;
}

.module{
  position:relative;
  top:15%;    
  height:70%;
  width:450px;
  margin-left:auto;
  margin-right:auto;
  border-radius:5px;
  background:RGBA(255,255,255,1);
    
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
  
}

.module ul{
  list-style-type:none;
  margin:0;
}

.tab{
  float:left;
  height:60px;
  width:25%;
  padding-top:20px;
  box-sizing:border-box;
  background:#eeeeee;  
  text-align:center;
  cursor:pointer;
  transition:background .4s;
}

.tab:first-child{  
  -webkit-border-radius: 5px 0px 0px 0px;
  border-radius: 5px 0px 0px 0px;
}

.tab:last-child{  
  -webkit-border-radius: 0px 5px 0px 0px;
  border-radius: 0px 5px 0px 0px;
}

.tab:hover{  
  background-color:rgba(0,0,0,.1);
}

.activeTab{
  background:#fff;
}

.activeTab .icon{
  opacity:1;
}

.icon{
  height:24px;
  width:24px;
  opacity:.2;
}

.form{
  float:left;
  height:86%;
  width:100%;
  box-sizing:border-box;
  padding:40px;
  font-size: 15px;
}


.textbox{
  height: 50px;
  width: 100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
  font-size: 18px;
}

.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}

.button{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
  background:#90c843;
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition:background .4s;
  cursor:pointer;
}

.button:hover{
  background:#80b438;
  
}

